#Login {
  height: 100vh;
  /* background-color: mediumaquamarine; */
}

.login-form {
  padding-left: 64px;
  padding-right: 64px;
}

.illust-responsive {
  padding: 32
}

@media screen and (max-width: 768px) {
  .login-form {
    padding-left: 24px;
    padding-right: 24px;
  }
  .illust-responsive {
    display: none
  }
}

@media screen and (max-width: 480px) {
  .login-form {
    padding-left: 8px;
    padding-right: 8px;
  }
}

