.background {
  background-color: #e27f7f;
}

.avatar {
  width: 60px;
  height: 60px;
}

.bottom-right {
  position: absolute;
  bottom: 120px;
  right: 16px;
  width: 90px;
  height: 30px;
}

.container {
  position: relative;
}

.w-18 {
  width: 18rem;
}