.custom-card-image {
  width: 100%;
  height: 444px;
  border-radius: 16px;
  object-fit: cover;
  object-position: 50% 25%;
  transition: 10s;
}

.custom-card-image:hover{
  object-position: 50% 100%;
}