.description-para{
  overflow-y: auto;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;  
}

.hover-pointer:hover {
  cursor: pointer;
}

.thumbnail-image-container {
  height: 95px;
  width: 137px;
  margin-left: 8px;
  margin-right: 8px; 
  overflow: hidden;
  border-radius: 8px
}

.thumbnail-image-container:hover {
  border: thin solid #343a40
}

.thumbnail-image {
  height: 95px;
  border-radius: 8px;
  object-fit: cover;
  transition: .6s
}

.thumbnail-image:hover {
  transform: scale(1.2);
}

